<div class="form">
    <h2>WLAN Hinzufügen</h2>
    <form action="?action={{ module_name }}" method="POST">
        Status: {{ status }}
        <input type="submit" value="An/Ausschalten" name="toggle" style="float:right;">
        <input type="text" name="ssid" placeholder="WiFi SSID" />
        <input type="password" name="password" placeholder="Passwort" />
        <input type="submit" value="Passwort Ändern" />
    </form>
</div>