<div class="form">
    <h2>Upmp Tidal</h2>
    <form action="?action={{ module_name }}" method="POST">

        Status: {{ status }}
        <input type="submit" value="An/Ausschalten" name="toggle" style="float:right;">

        <input type="text" name="user" placeholder="Username" />
        <input type="text" name="password" placeholder="Password" />
        <input type="submit" value="Ändern" />
    </form>
</div>
