

<div class="form">
    <h2>Upmp - Qobuz</h2>
    <form action="?action={{ module_name }}" method="POST">

        Status: {{ status }}
        <input type="submit" value="An/Ausschalten" name="toggle" style="float:right;">

        <input type="text" name="user" placeholder="Username" />
        <input type="text" name="password" placeholder="Password" />
        <select name="quality">
            <option value="false">Bitte wählen</option>
            <option value="7">High Quality</option>
            <option value="5">Low Quality</option>
        </select>
        <input type="submit" value="Ändern" />
    </form>
</div>