<!--<div class="accordion accordion-inner-frame">
    <i class="fa fa-angle-right accordion-arrow" aria-hidden="true"></i>
    <div class="accordion accordion-frame-item">
        <div class="form">-->
<h3 class="accordion-header toggle-arm">CD-Ripping</h3>
<div>
    <form action="?action=arm" method="POST">
        CD-Ripping ist {{ status }} <br>
        <input type="submit" value="CD-Ripping An/Ausschalten" name="toggle" style="float:right; margin-bottom: 15px;">
        <select name="format">
            <option value="">Bitte Wählen</option>
            <option value="wav">wav</option>
            <option value="flac">flac</option>
            <option value="mp3">mp3</option>
            <option value="aac">aac</option>
        </select>
        <input type="submit" value="Ändern" />
    </form>
</div>
       <!-- </div>
    </div>
</div>-->
