<!--<div class="accordion accordion-inner-frame">
    <i class="fa fa-angle-right accordion-arrow" aria-hidden="true"></i>
    <div class="accordion accordion-frame-item">
        <div class="form">-->
<h3 class="accordion-header toggle-system">System</h3>
<div>
    <form action="?action=system" method="POST">

        <h3>Update</h3>
        <hr>
        {{ update_content }}


        <br><br><br><br>
        <h3>Speicherplatz</h3>
        <hr>
        {{ space_content }}
        <br><br><br><br>
        <h3>Hilfe</h3>
        <hr>
        Bitte schreiben Sie eine Email an: kundensupport@tomhabke.de oder rufen Sie uns unter 0421-24199330 an.
    </form>
</div>
        <!--</div>
    </div>
</div>-->